<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Lyrical Mayhem</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/output.css" rel="stylesheet">
    </head>
    <body>
        <!-- <div class="loader absolute h-full w-full hidden justify-center align-center bg-bg-amber-800">
            <p>loading...</p>
        </div>         -->
    </body>
</html>