<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Lyrical Mayhem | Login</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../assets/style/app.css">
    </head>
    <body>     
        <h1>Welcome to Lyrical Mayhem</h1>   
        <p>To play this game you need to login to your Spotify account</p>
        <a href="#">Login to Spotify</a>
    </body>
</html>